.colors {
  @include clearfix();
  margin: rem(-$tick * 0.25);
  padding: 0;
  list-style: none;

  li {
    float: left;
  }

  label {
    display: block;
    padding: rem($tick * 0.25);
    cursor: pointer;
  }

  span {
    background: currentColor;
    display: block;
    border-radius: 50%;
    position: relative;
    height: rem($tick * 1.5);
    width: rem($tick * 1.5);
    opacity: 0.8;
    line-height: rem($tick * 1.5);
    text-align: center;
    font-size: rem(20px);
    transition: opacity 250ms ease-in-out, transform 125ms ease-in-out;
  }

  input {
    display: none;
  }

  i {
    opacity: 0;
    color: #fff;
    transform: scale(0.6);
    transition: opacity 125ms ease-in-out, transform 250ms ease-out;
  }

  label:hover span,
  input:checked + span,
  input:checked + span i {
    opacity: 1;
  }

  input:checked + span {
    transition: opacity 250ms ease-in-out, transform 200ms cubic-bezier(0.59, 0.58, 0.64, 1.92);
    transform: scale(1.15);
  }

  input:checked + span i {
    transform: scale(1);
  }
}
