.colors {
    @include clearfix();
    margin: rem(-$tick--vertical * 0.25);
    padding: 0;
    list-style: none;
    position: relative;

    li {
        float: left;
    }

    label {
        display: block;
        padding: rem($tick--vertical * 0.25);
        cursor: pointer;
    }

    span {
        display: block;
        background: currentColor;
        border-radius: 50%;
        position: relative;
        height: rem($tick--vertical * 1.5);
        width: rem($tick--horizontal * 1.5);
        opacity: 0.8;
        transition: trans(opacity), trans(transform, 125ms);
    }

    input {
        display: none;
    }

    i {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        opacity: 0;
        color: #fff;
        transform: scale(0.6);
        line-height: rem($tick--vertical * 1.5);
        text-align: center;
        font-size: rem(20px);
        transition: trans(opacity, 125ms), trans(transform);
    }

    label:hover span,
    input:checked + span,
    input:checked + span i {
        opacity: 1;
    }

    input:checked + span {
        transition: trans(opacity), trans(transform, 200ms, cubic-bezier(0.59, 0.58, 0.64, 1.92));
        transform: scale(1.15);
    }

    input:checked + span i {
        transform: scale(1);
    }
}
