.color {
  float: left;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  height: rem($tick * 1.5);
  width: rem($tick * 1.5);
  margin-right: rem($tick * 0.5);
  margin-bottom: rem($tick * 0.5);

  input {
    display: none;
  }

  &__component {
    max-width: rem($tick * 3);
    max-height: rem($tick * 3);
    width: rem($tick * 3);
    height: rem($tick * 3);
    position: absolute;
    top: 0;
    right: 0;

    &--foreground {
      top: 21%;
      right: 21%;
      transform: rotate(45deg);
      display: none;
    }

    &--background {
    }
  }
}
