.download {
  display: block;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: $color--base;
  height: rem(($tick - 3px) * 2);
  line-height: rem(($tick - 3px) * 2);
  transition: trans(background), trans(color);

  &:hover {
    color: #fff;
    background: #000;
  }
}
