.header {
  @extend %block;

  &__body {
    @extend %container;
    @extend %container--generator;
    display: flex;
    flex-wrap: wrap;

    &__logo {
      img {
        height: rem($tick * 1.5);
        margin: rem($tick * .25) 0;
      }
    }

    &__menu {
      margin: 0 0 0 auto;
      display: flex;
      padding: 0;

      li {
        @extend %heading;
        list-style: none;
        margin-left: rem($tick);
      }

      i {
        display: none;
        font-size: rem($size--base);
      }

      a {
        position: relative;
        display: block;
        margin-top: rem($tick);

        &::before {
          content: '';
          position: absolute;
          top: -1em;
          right: -1em;
          bottom: -1em;
          left: -1em;
        }
      }
    }

    &__info {
      @extend %text;
      font-family: $font--serif;
      padding-top: rem($tick * 2);
      flex-basis: 61.8%;
      color: $color--minor;
    }
  }

  @include breakpoint(tablet) {
    &__body {
      &__info {
        flex-basis: $width--wrapper;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  @include breakpoint(phablet) {
    &__body {
      &__logo {
        img {
          height: rem($tick);
          margin: 0;
        }
      }

      &__menu {
        align-items: flex-end;

        a {
          position: relative;
          margin: 0;
          top: rem($tick / 4);
        }
      }

      &__info {
        flex-basis: 100%;
      }
    }
  }

  @include breakpoint(phone) {
    &__body {
      &__info {
        padding-top: rem($tick);
      }
    }
  }

  @include breakpoint(mobile) {
    &__body {
      &__menu {
        span {
          display: none;
        }

        i {
          display: inline-block;
        }
      }
    }
  }
}
