.header {
  @extend %block;

  &__body {
    @extend %container;
    @extend %container--generator;
    display: flex;

    &__logo {
      img {
        height: rem($tick * 2);
        height: rem($tick * 1.5);
        margin: rem($tick * .25) 0;
      }
    }

    &__menu {
      margin: 0 0 0 auto;
      display: flex;

      li {
        @extend %heading;
        list-style: none;
        margin-left: rem($tick);
      }

      a {
        display: block;
        margin-top: rem($tick);
      }
    }
  }
}
