.header {
  @extend %block;

  &__body {
    @extend %container;
    @extend %container--generator;
    display: flex;
    flex-wrap: wrap;

    &__logo {
      img {
        height: rem($tick * 2);
        height: rem($tick * 1.5);
        margin: rem($tick * .25) 0;
      }
    }

    &__menu {
      margin: 0 0 0 auto;
      display: flex;

      li {
        @extend %heading;
        list-style: none;
        margin-left: rem($tick);
      }

      a {
        position: relative;
        display: block;
        margin-top: rem($tick);

        &::before {
          content: '';
          position: absolute;
          top: -1em;
          right: -1em;
          bottom: -1em;
          left: -1em;
        }
      }
    }

    &__info {
      @extend %text;
      font-family: $font--serif;
      padding-top: rem($tick * 2);
      flex-basis: 61.8%;
      color: $color--minor;
    }
  }
}
