.loading {
  &__indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem($tick--horizontal);
    height: rem($tick--vertical);
    margin: rem(-$tick--vertical * 0.5) 0 0 rem(-$tick--vertical * 0.5);
    transform: scale(1);
    transition: trans(transform, $duration--overlay);

    &::before, &::after {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $color--minor;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      animation: bounce 1s infinite ease-in-out;
    }

    &::after {
      animation-delay: -0.5s;
    }
  }

  &__body {
    position: relative;
    opacity: 0.25;
    transition: trans(opacity, $duration--overlay);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &--done &__indicator {
    transform: scale(0);
  }

  &--done &__body {
    opacity: 1;

    &::after {
      display: none;
    }
  }
}
