.main {
  @extend %container;
  @extend %container--generator;
  display: flex;
  flex-direction: row-reverse;

  &__preview {
    flex-basis: 61.8%;
    padding-left: rem($tick * 2);
  }

  &__options {
    position: relative;
    flex-basis: 38.2%;
  }
}
