
/* Notes
/*----------------------------------------------------------------------------*/

.notes {
  @extend %block;
  @extend %minor;
  padding-left: 0;

  img {
    display: none;
  }

  li {
    @extend %container;
  }

  .more_notes_link_container {
    margin-top: rem($tick);

    a {
      color: $color--minor;

      &:hover {
        color: $color--accent;
      }
    }
  }

  @include breakpoint(phablet) {
    font-size: 0.9rem;
  }
}
