.option {
  & + & {
    margin-top: rem($tick * 2);
  }

  &__heading {
    @extend %heading;
  }

  &--download {
    padding-top: rem($tick * 2);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      background: $color--border;
    }

    &::after {
      content: 'Ready?';
      position: absolute;
      top: 0;
      left: 50%;
      line-height: rem($tick);
      color: $color--faint;
      font-size: rem($size--minor);
      padding: 0 rem(10px);
      background: #fff;
      transform: translate(-50%, -50%);
    }
  }

  @include breakpoint(tablet) {
    &, &:first-child {
      margin-top: rem($tick);
    }

    &--download {
      padding-top: rem($tick);
    }
  }
}
