.overlay {
  z-index: 1;
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#fff, 0.98);
  transition: trans(opacity, $duration--ease), trans(visibility, $duration--ease);
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: rem($tick * 2) 0;

  &__body {
    @extend %container;
    @extend %container--generator;
    transition: trans(transform), trans(opacity, $duration--ease);
    opacity: 0;

    &--scale {
      transform: scale(0.95);
    }
  }

  &__close {
    position: fixed;
    z-index: 1;
    top: rem($tick);
    right: rem($tick);
    font-size: rem(24px);
    width: rem($tick);
    height: rem($tick);
    padding: rem($tick);
    margin: rem(-$tick);

    &::before, &::after {
      content: '';
      position: absolute;
      height: rem(3px);
      top: 50%;
      margin-top: rem(-1.5px);
      opacity: 0;
      left: rem($tick);
      right: rem($tick);
      background: currentColor;
      transition: trans(transform, $duration--ease, ease-out), trans(opacity);
    }

    &::before {
      transform: rotate(65deg);
    }

    &::after {
      transform: rotate(-25deg);
    }
  }

  &--open {
    transition: trans(opacity), trans(visibility, $duration--ease);
    opacity: 1;
    visibility: visible;
  }

  &--open &__body {
    opacity: 1;

    &--scale {
      transform: scale(1);
    }
  }

  &--open &__close {
    &::before, &::after {
      opacity: 1;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
