.overlay {
  z-index: 1;
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#fff, 0.98);
  transition: trans(opacity, $duration--overlay / 2), trans(transform, 0ms) ($duration--overlay / 2);
  transform: translateX(-100%);
  opacity: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: rem($tick--vertical * 2) 0;

  &__body {
    @extend %container;
    @extend %container--generator;
    transition: trans(transform, $duration--overlay), trans(opacity, $duration--overlay);
    opacity: 0;

    &--scale {
      transform: scale(0.95);
    }
  }

  &__close {
    $whitespace: $tick--vertical / 2;
    position: fixed;
    z-index: 1;
    top: rem($whitespace);
    right: rem($whitespace);
    font-size: rem(24px);
    width: rem($tick--horizontal);
    height: rem($tick--vertical);
    padding: rem($whitespace);
    margin: rem(-$whitespace);

    &::before, &::after {
      content: '';
      position: absolute;
      height: rem(3px);
      top: 50%;
      margin-top: rem(-1.5px);
      opacity: 0;
      left: rem($whitespace);
      right: rem($whitespace);
      background: currentColor;
      transition: trans(transform, $duration--overlay, ease-out), trans(opacity, $duration--overlay);
    }

    &::before {
      transform: rotate(65deg);
    }

    &::after {
      transform: rotate(-25deg);
    }
  }

  &--open {
    opacity: 1;
    transform: translateX(0);
    transition: trans(opacity, $duration--overlay), trans(transform, 0ms);
  }

  &--open &__body {
    opacity: 1;

    &--scale {
      transform: scale(1);
    }
  }

  &--open &__close {
    &::before, &::after {
      opacity: 1;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @include breakpoint(tablet) {
    padding: rem($tick--vertical / 2) 0;

    &__close {
      background: rgba(#fff, .75);
      color: $color--base;
    }
  }
}
