.pagination {
  @extend %block;
  text-align: center;

  a {
    margin: rem(-$tick) 0;
    padding: rem($tick);
    color: $color--minor;

    &:hover,
    &:focus {
      color: $color--accent;
    }
  }
}
