.pagination {
    @extend %block;
    text-align: center;

    a {
        margin: rem(-$tick--vertical) 0;
        padding: rem($tick--vertical);
        color: $color--minor;

        &:hover {
            color: $color--accent;
        }
    }
}
