
/* Post
/*----------------------------------------------------------------------------*/

.post {
  @extend %block;

  small {
    color: #ddd;
    font-size: 100%;
  }

  &__image {
    @extend %container;
    @extend %text;
  }

  &__text {
    @extend %container;
    @extend %text;
    font-family: $font--serif;
  }

  &__image + &__text {
    margin-top: rem($tick);
  }

  &__meta {
    @extend %container;
    margin-top: rem($tick);
    text-align: right;
  }

  &__date {
    font-family: $font--sans;
    color: $color--minor;
    text-transform: uppercase;
    font-size: rem($size--minor);
    margin: 0;
    float: left;
  }

  &__links {
    @include clearfix();
    margin: 0;
    padding: 0;

    li {
      float: right;
      list-style: none;
      margin-left: 0.5em;
    }

    .like_button, .reblog_button {
      opacity: 0;
      cursor: pointer;
      position: absolute;
      z-index: 1;

      & + i {
        color: $color--minor;
        transition: color 250ms;
      }

      &:hover + i {
        color: $color--accent;
      }

      &.liked + i {
        color: #ff4c53;
      }
    }
  }

  @include breakpoint(phone) {
    padding-top: 0;

    &::before {
      display: none;
    }

    &__image {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
