
/* Post
/*----------------------------------------------------------------------------*/

.post {
  @extend %block;

  &__image {
    @extend %container;
    @extend %text;
  }

  &__text {
    @extend %container;
    @extend %text;
    font-family: $font-serif;
  }

  &__image + &__text {
    margin-top: $rythm-tick;
  }

  &__meta {
    @extend %container;
    margin-top: $rythm-tick;
    text-align: right;
  }

  &__date {
    font-family: $font-sans-serif;
    color: $color-minor;
    text-transform: uppercase;
    font-size: .83rem;
    float: left;
  }

  &__links {
    li {
      display: inline-block;
      margin-left: .5em;
    }

    .like_button, .reblog_button {
      opacity: 0;
      position: absolute;

      & + i {
        color: $color-minor;
        transition: color 250ms;
      }

      &:hover + i {
        color: $color-accent;
      }

      &.liked + i {
        color: #ff4c53;
      }
    }
  }

  @include breakpoint(phone) {
    padding-top: 0;

    &:before {
      display: none;
    }

    &__image {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
