.posts-overlay {
  display: none;

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: rem($tick * 3);
    list-style: none;

    li {
      box-sizing: border-box;
      flex-basis: 20%;
      padding: rem(5px);
    }

    a {
      display: block;
      transition: trans(opacity);
      opacity: 1;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
