.post {
  @extend %block;

  small {
    color: $color--faint;
    font-size: 100%;
  }

  footer {
    font-size: 0;

    cite a {
      padding: rem($tick / 2);
      margin: rem(-$tick / 2);
      color: $color--minor;

      &:hover {
        color: $color--accent;
      }
    }

    cite {
      @extend %heading;
      display: block;
      font-style: normal;
      transition: trans(color);

      a::after {
        content: '\00a0\2192';
      }
    }
  }

  &__image {
    @extend %container;
    @extend %text;
  }

  &__text {
    @extend %container;
    @extend %text;
    font-family: $font--serif;
  }

  &__image + &__text {
    margin-top: rem($tick);
  }

  &__links {
    @extend %container;
    margin-top: rem($tick);
    margin-bottom: 0;

    li {
      display: inline-block;
      list-style: none;
      width: rem(30px);
      text-align: center;
    }

    a {
      color: $color--faint;

      &:hover {
        color: $color--accent;
      }
    }

    .like_button, .reblog_button {
      opacity: 0;
      cursor: pointer;
      position: absolute;
      z-index: 1;

      & + i {
        color: $color--faint;
        transition: trans(color);
      }

      &:hover + i {
        color: $color--accent;
      }

      &.liked + i {
        color: #ff4c53;
      }
    }
  }

  @include breakpoint(phone) {
    padding-top: 0;

    &::before {
      display: none;
    }

    &__image {
      max-width: none;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
