.preview {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  background: $color--faint no-repeat center;
  background-size: contain;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__details {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: rgba(#000, .75);
    transition: trans(opacity);

    &__body {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: $color--minor;
    }

    p a {
      text-decoration: underline;
      display: inline-block;
      padding: rem(10px);
      margin: rem(-10px);
    }
  }

  .loading--done &:hover &__details {
    opacity: 1;
  }
}
