.sizes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: rem(-$tick--vertical * 2);

    &__group {
        flex-basis: 33%;
        margin-top: rem($tick--vertical * 2);

        &__heading {
            @extend %heading;
            margin: 0;
            line-height: rem($tick--vertical * 2);

            i {
                font-size: rem(24px);
                margin-right: rem(5px);
                vertical-align: middle;
            }
        }

        label {
            display: block;
            cursor: pointer;
            transition: trans(color);

            &:hover {
                color: $color--accent;
            }
        }

        span {
            font-family: $font--mono;
        }

        em {
            font-family: $font--sans;
            font-size: $size--minor;
            font-style: normal;
            color: $color--faint;
        }

        input {
            display: none;
        }
    }

    @include breakpoint(phablet) {
        &__group {
            flex-basis: 50%;
        }
    }

    @include breakpoint(mobile) {
        &__group {
            flex-basis: 100%;
        }
    }
}
