
/* Top
/*----------------------------------------------------------------------------*/

.top {
  @extend %container;
  color: $color--minor;
  padding-top: rem($tick * 2);
  padding-bottom: rem($tick * 2);

  &__logo {
    margin-bottom: rem($tick);

    a {
      display: inline-block;
      margin: rem(-$tick);
      padding: rem($tick);
    }

    img {
      height: $tick;
    }
  }

  .fa {
    display: inline-block;
    margin: -0.5em -0.25em;
    padding: 0.5em;
  }

  @include breakpoint(phablet) {
    padding-top: rem($tick);
    padding-bottom: rem($tick);

    a {
      margin: rem(-$tick / 2);
      padding: rem($tick / 2);
    }
  }
}
