.DS_Store
node_modules
bower_components
dist
public
resources
resources.zip
wp/wp-content/plugins
wp/wp-content/uploads
wp/wp-content/upgrade
wp/wp-content/cache
wp/wp-admin
wp/wp-includes
wp/.htaccess
wp/index.php
wp/license.txt
wp/readme.html
wp/wp-*.php
wp/wp-content/index.php
wp/wp-content/themes/index.php
wp/xmlrpc.php
vendor
wp/wp-content/themes/ubermost-create/assets/
