<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubermost&mdash;Create</title>
    <link href="//assets.ubermost.com/images/favicon.png" rel="shortcut icon">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro:400,600" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/main.min.css" rel="stylesheet">
    <link href="http://feeds.feedburner.com/ubermost" rel="alternate" type="application/rss+xml">
  </head>
  <body>
    <header class="header">
      <div class="header__body">
        <a href="#" class="header__body__logo">
          <img src="//assets.ubermost.com/images/logo-alt.svg" alt="">
        </a>
        <ul class="header__body__menu">
          <li><a href="http://ubermost.com">Blog</a></li>
          <li><a href="http://facebook.com/ubermost">Facebook</a></li>
          <li><a href="http://instagram.com/ubermost">Instagram</a></li>
        </ul>
        <div class="header__body__info">
          <p>Create inspiring wallpaper from your favourite lettering! You can download it as a wallpaper for your smartphone and PC, or if you&apos;re feeling social&mdash;post it on social network of choice to share the wisdom with your friends.</p>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="main__preview loading">
        <div class="loading__body preview" data-gateway="media/post.json" data-post-id="1"></div>
        <span class="loading__indicator"></span>
      </div>

      <div class="main__options">
        <section class="option">
          <h2 class="option__heading">Color</h2>
          <ul class="colors">
            {%
              set colors = [
                ['#73719C', '#E6E4F1'],
                ['#F1F0EC', '#523253'],
                ['#592A2C', '#EBDEBA'],
                ['#496822', '#FDFDFB'],
                ['#87B9B9', '#1F2326'],
                ['#413D31', '#E5E4E1'],
                ['#CFDDA6', '#363A48'],
                ['#000000', '#F1F1F1'],
                ['#CAB344', '#22170E'],
                ['#163B5F', '#F9FAFB'],
              ]
            %}
            {% for index, color in colors %}
              <li>
                <label class="color" style="color: {{ color[0] }}">
                  <input type="radio" name="color" value="{{ index + 1 }}" {% if loop.first %}checked{% endif %}>
                  <span><i class="fa fa-check" style="color: {{ color[1] }}"></i></span>
                </label>
              </li>
            {% endfor %}
          </ul>
        </section>
        <section class="option">
          <h2 class="option__heading">Screen Size</h2>
          <div class="dropdown">
            <span>1280x800 <em>(detected)</em></span>
            <i class="fa fa-bars"></i>
          </div>
        </section>
        <section class="option option--download">
          <a href="#" class="button button--download">Download wallpaper</a>
          <div class="share">
            <span class="share__label">Or share the wisdom:</span>
            <a href="http://www.facebook.com/sharer/sharer.php?u=http://iconosquare.com/p/1089242589679850121_1998556539" class="share__link share__link--facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="http://pinterest.com/pin/create/button/?url=http://iconosquare.com/p/1089242589679850121_1998556539&media=https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-15/e15/12106281_1692144297685773_1294270895_n.jpg" class="share__link share__link--pinterest">
              <i class="fa fa-pinterest-p"></i>
            </a>
            <a href="http://twitter.com/intent/tweet?source=iconosquare&text=Instagram%20photo%20by%20@klaaaudiiaaaa%20(Klaudia%20Sztejkowska)%20-%20via%20Iconosquare&url=http://iconosquare.com/p/1089242589679850121_1998556539" class="share__link share__link--twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="http://www.tumblr.com/share/photo?source=https%3A%2F%2Fscontent.cdninstagram.com%2Fhphotos-xpa1%2Ft51.2885-15%2Fe15%2F12106281_1692144297685773_1294270895_n.jpg&caption=%23chlejemy+%23zdr%C3%B3wko+%23m%C5%82odych+%23pan+%21+%3A%2A&clickthru=http%3A%2F%2Ficonosquare.com%2Fp%2F1089242589679850121_1998556539" class="share__link share__link--tumblr">
              <i class="fa fa-tumblr"></i>
            </a>
          </div>
        </section>
      </div>
    </main>

    <footer class="footer-alt">
      <div class="footer-alt__body">
        <form action="" method="post" class="footer-alt__body__newsletter">
          <h3>Newsletter</h3>
          <p>Monthly digest with links to valuable content and ocassional news.</p>
          <fieldset>
            <input type="email" name="email" placeholder="Your email address">
            <button type="submit"><i class="fa fa-envelope"></i></button>
          </fieldset>
        </form>
        <p class="footer-alt__body__links">
          <a href="http://feeds.feedburner.com/ubermost">RSS</a>
          &middot;
          <a href="http://feeds.feedburner.com/ubermost">Facebook</a>
          &middot;
          <a href="http://feeds.feedburner.com/ubermost">Instagram</a>
          &middot;
          <a href="mailto:hello@ubermost.com">hello@ubermost.com</a>
        </p>
        <small class="footer-alt__body__copy">Part of the <a href="http://ubermost.com">Ubermost</a>. Built by <a href="http://lamberski.com">Maciej Lamberski</a>.</small>
      </div>
    </footer>

    <section id="sizes-overlay" class="overlay">
      <a href="#" class="overlay__close"></a>
      <div class="overlay__body overlay__body--scale sizes">
        <section class="sizes__group">
          <h3 class="sizes__group__heading">
            <i class="fa fa-mobile-phone"></i>
            Smartphone
          </h3>
          <label>
            <input type="radio" name="size" value="1">
            <span>1136x640 <em>iPhone 5</em></span>
          </label>
          <label>
            <input type="radio" name="size" value="2">
            <span>1334x750 <em>iPhone 6</em></span>
          </label>
          <label>
            <input type="radio" name="size" value="3">
            <span>1920x1080 <em>iPhone 6 Plus</em></span>
          </label>
        </section>
        <section class="sizes__group">
          <h3 class="sizes__group__heading">
            <i class="fa fa-tablet"></i>
            Tablet
          </h3>
          <label>
            <input type="radio" name="size" value="4">
            <span>1024x768</span>
          </label>
          <label>
            <input type="radio" name="size" value="5">
            <span>2048x1536 <em>iPad</em></span>
          </label>
          <label>
            <input type="radio" name="size" value="6">
            <span>2732x2048 <em>iPad Pro</em></span>
          </label>
        </section>
        <section class="sizes__group">
          <h3 class="sizes__group__heading">
            <i class="fa fa-laptop"></i>
            Laptop
          </h3>
          <label>
            <input type="radio" name="size" value="7">
            <span>1280x800</span>
          </label>
          <label>
            <input type="radio" name="size" value="8">
            <span>1280x1024</span>
          </label>
          <label>
            <input type="radio" name="size" value="9">
            <span>1366x768</span>
          </label>
          <label>
            <input type="radio" name="size" value="10">
            <span>1440x900</span>
          </label>
          <label>
            <input type="radio" name="size" value="11">
            <span>2560x1600 <em>rMBP 13&Prime;</em></span>
          </label>
          <label>
            <input type="radio" name="size" value="12">
            <span>2880x1800 <em>rMBP 15&Prime;</em></span>
          </label>
        </section>
        <section class="sizes__group">
          <h3 class="sizes__group__heading">
            <i class="fa fa-desktop"></i>
            Desktop 16:9
          </h3>
          <label>
            <input type="radio" name="size" value="13">
            <span>1920x1080</span>
          </label>
        </section>
        <section class="sizes__group">
          <h3 class="sizes__group__heading">
            <i class="fa fa-desktop"></i>
            Desktop 16:10
          </h3>
          <label>
            <input type="radio" name="size" value="14">
            <span>1920x1200</span>
          </label>
          <label>
            <input type="radio" name="size" value="15">
            <span>4096x2304 <em>iMac Retina 21&Prime;</em></span>
          </label>
          <label>
            <input type="radio" name="size" value="16">
            <span>5120x2880 <em>iMac Retina 27&Prime;</em></span>
          </label>
        </section>
        <section class="sizes__group">
          <h3 class="sizes__group__heading">
            <i class="fa fa-desktop"></i>
            Desktop 4:3
          </h3>
          <label>
            <input type="radio" name="size" value="17">
            <span>1024x768</span>
          </label>
          <label>
            <input type="radio" name="size" value="18">
            <span>1600x1200</span>
          </label>
        </section>
      </div>
    </section>

    <section id="posts-overlay" class="overlay loading">
      <a href="#" class="overlay__close"></a>
      <div class="overlay__body">
        <ul class="loading__body posts" data-gateway="media/posts.json"></ul>
      </div>
      <span class="loading__indicator"></span>
    </section>

    <script id="post-template" type="x-handlebars-template">
      {% raw %}
        <img src="{{image}}" alt="" class="preview__image">
        <div class="preview__details">
          <div class="preview__details__body">
            <p class="preview__details__body__change">
              <a href="#" class="button button--change">Change&hellip;</a>
            </p>
            <p class="preview__details__body__or">
              or <a href="{{blog_link}}">see it on blog</a>
            </p>
          </div>
        </div>
      {% endraw %}
    </script>

    <script id="posts-template" type="x-handlebars-template">
      {% raw %}
        {{#each posts}}
          <li>
            <a href="{{permalink}}" data-post-id="{{ID}}">
              <img src="{{thumbnail}}" alt="">
            </a>
          </li>
        {{/each}}
      {% endraw %}
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.ui.min.js"></script>
    <script src="scripts/main.min.js"></script>
  </body>
</html>
