<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {block:Description}<meta name="description" content="{MetaDescription}">{/block:Description}
    <title>{Title}{block:SearchPage}, {lang:Search results for SearchQuery}{/block:SearchPage}</title>
    <link href="//fonts.googleapis.com/css?family=Lora:400,400italic" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//assets.ubermost.com/styles/main.css" rel="stylesheet">
    <link href="{PortraitURL-128}" rel="apple-touch-icon">
    <link href="http://feeds.feedburner.com/ubermost" rel="alternate" type="application/rss+xml">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <script src="//static.tumblr.com/q0etgkr/EIBmz7s0p/infinitescrolling.js"></script> -->
  </head>
  <body>
    <header class="top">
      <h1 class="logo">
        <a href="{BlogURL}" class="logo"><img src="//assets.ubermost.com/images/logo.svg" alt=""></a>
      </h1>
      <p>Daily dose of sketchnotes with wisdom from books and other pieces of writing. On motivation, entrepreneurship, communication and self-awareness. Collected by <a href="http://lamberski.com">Maciek Lamberski</a>. Also posting on <a href="http://facebook.com/ubermost" title="Ubermost on Facebook" class="fa fa-facebook"></a> <a href="http://instagram.com/ubermost" title="Ubermost on Instagram" class="fa fa-instagram"></a> <a href="http://twitter.com/ubermost" title="Ubermost on Twitter" class="fa fa-twitter"></a>.</p>
    </header>

    <hr>

    {block:Posts}
      <article class="post">
        {block:Photo}
          <a href="{Permalink}" class="image">
            <img src="{PhotoURL-HighRes}" alt="{PhotoAlt}">
          </a>
          {block:Caption}
            <div class="text">
              {Caption}
            </div>
          {/block:Caption}
            <div class="meta">
              <p class="date"><a href="{Permalink}">Posted on <time datetime="{Year}-{MonthNumberWithZero}-{DayOfMonthWithZero}" pubdate>{Month} {DayOfMonth}{DayOfMonthSuffix}, {Year}</time></a>.</p>
              <ul class="links">
                <li>
                  {LikeButton size=30}
                  <i class="fa fa-heart"></i>
                </li>
                <li>
                  {ReblogButton size=30}
                  <i class="fa fa-retweet"></i>
                </li>
              </ul>
            </div>
        {/block:Photo}
      </article>
      {block:Posts}{PostNotes}{/block:Posts}
    {/block:Posts}

    {block:Pagination}
      <nav class="pagination">
        {block:PreviousPage}<a rel="prev" href="{PreviousPage}">&larr;</a>{/block:PreviousPage}
        {block:NextPage}<a rel="next" href="{NextPage}">&rarr;</a>{/block:NextPage}
      </nav>
    {/block:Pagination}

    <script src="//assets.ubermost.com/scripts/analytics.js" async></script>
  </body>
</html>
