
/* Reset
/*----------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Base
/*----------------------------------------------------------------------------*/

html {
  border-top: 3px solid $color-accent;
  text-size-adjust: none;
  font-size: 18px;

  @include breakpoint(phablet) {
    font-size: 15px;
  }
}

body {
  position: relative;
  color: $color-base;
  font-family: $font-sans-serif;
  line-height: $rythm-tick;
}

hr {
  display: none;
}

img, iframe {
  max-width: 100%;
  vertical-align: top;
}

a {
  color: $color-minor;
  transition: color 250ms;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

/* Utilities
/*----------------------------------------------------------------------------*/

.hidden {
  position: fixed;
  left: -999em;
}

/* Common
/*----------------------------------------------------------------------------*/

%container {
  display: block;
  max-width: $width-wrapper;
  margin-left: auto;
  margin-right: auto;
  padding-left: $rythm-tick;
  padding-right: $rythm-tick;

  @include breakpoint(phablet) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

%block {
  position: relative;
  padding-top: ($rythm-tick * 2);
  padding-bottom: $rythm-tick * 2;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #eee;
  }

  @include breakpoint(phablet) {
    padding-top: $rythm-tick;
    padding-bottom: $rythm-tick;
  }
}

%text {
  blockquote > *,
  & > * {
    margin-top: $rythm-tick;
  }

  blockquote > :first-child,
  & > :first-child {
    margin-top: 0;
  }

  li {
    padding-left: 7px;
    margin-left: -7px;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  del {
    text-decoration: line-through;
  }
}

%minor {
  color: $color-minor;
  font-size: 0.83rem;

  a {
    color: $color-base;

    &:hover {
      color: $color-accent;
    }
  }

  @include breakpoint(phablet) {
    font-size: 0.72rem;
  }
}
