
/* Common
/*----------------------------------------------------------------------------*/

.hidden {
  position: fixed;
  left: -999em;
}

%container {
  max-width: $width-wrapper;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

/* Top
/*----------------------------------------------------------------------------*/

.top {
  @extend %container;
  color: $color-minor;
  padding-bottom: ($rythm-tick * 2);

  h1 {
    display: inline-block;

    a {
      color: $color-base;

      &:hover {
        color: $color-accent;
      }
    }
  }
}

/* Quote/Pagination
/*----------------------------------------------------------------------------*/

.quote,
.pagination {
  border-top: 1px solid transparent;
  padding-top: ($rythm-tick * 2) - 1px;
  padding-bottom: ($rythm-tick * 2);

  @include breakpoint(phablet) {
    border-top-color: #eee;
  }
}

.quote {
  position: relative;
  font-family: $font-serif;

  &:first-child {
    margin-top: 0;
  }

  div {
    @extend %container;

    > * {
      margin-top: $rythm-tick;
    }

    > :first-child {
      margin-top: 0;
    }
  }

  li {
    padding-left: 7px;
    margin-left: -7px;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  del {
    text-decoration: line-through;
  }

  footer {
    @extend %container;
    margin-top: $rythm-tick;
    font-family: $font-sans-serif;
    color: $color-minor;
    text-transform: uppercase;
    font-size: 15px;
  }

  .permalink {
    margin: -$rythm-tick;
    padding: $rythm-tick;
    float: right;
    opacity: 0;
    transition: opacity 500ms, color 250ms;
  }

  &:hover .permalink {
    opacity: 1;
  }

  @include breakpoint(tablet) {
    .permalink {
      opacity: 1;
    }
  }
}

.pagination {
  @extend %container;
  text-align: center;

  a {
    margin: -$rythm-tick 0;
    padding: $rythm-tick;
    color: $color-minor;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}
