
/* Common
/*----------------------------------------------------------------------------*/

.hidden {
  position: fixed;
  left: -999em;
}

%container {
  max-width: $width-wrapper;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

%block {
  border-top: 1px solid transparent;
  padding-top: ($rythm-tick * 2) - 1px;
  padding-bottom: $rythm-tick * 2;
  border-top-color: #eee;

  @include breakpoint(phablet) {
    padding-top: $rythm-tick - 1px;
    padding-bottom: $rythm-tick;
  }
}

%text {
  > * {
    margin-top: $rythm-tick;
  }

  > :first-child {
    margin-top: 0;
  }

  li {
    padding-left: 7px;
    margin-left: -7px;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  del {
    text-decoration: line-through;
  }
}

%minor {
  color: $color-minor;
  font-size: 15px;

  a {
    color: $color-base;

    &:hover {
      color: $color-accent;
    }
  }

  @include breakpoint(phablet) {
    font-size: 13px;
  }
}

/* Top
/*----------------------------------------------------------------------------*/

.top {
  @extend %container;
  color: $color-minor;
  padding-top: $rythm-tick * 2;
  padding-bottom: $rythm-tick * 2;

  h1 {
    display: inline-block;

    a {
      color: $color-base;

      &:hover {
        color: $color-accent;
      }
    }
  }

  .about {

  }

  .elsewhere {
    margin-top: $rythm-tick;
  }

  @include breakpoint(phablet) {
    padding-top: $rythm-tick;
    padding-bottom: $rythm-tick;
  }
}

/* Quote
/*----------------------------------------------------------------------------*/

.quote {
  @extend %block;
  position: relative;
  font-family: $font-serif;

  div {
    @extend %container;
    @extend %text;
  }

  footer {
    @extend %container;
    margin-top: $rythm-tick;
    font-family: $font-sans-serif;
    color: $color-minor;
    text-transform: uppercase;
    font-size: 15px;

    cite a:after {
      content: ' \2192';
    }
  }

  .permalink {
    margin: -$rythm-tick;
    padding: $rythm-tick;
    float: right;
    opacity: 0;
    transition: opacity 500ms, color 250ms;
  }

  &:hover .permalink {
    opacity: 1;
  }

  @include breakpoint(tablet) {
    .permalink {
      opacity: 1;
    }
  }
}

/* Pagination
/*----------------------------------------------------------------------------*/

.pagination {
  @extend %block;
  text-align: center;

  a {
    margin: -$rythm-tick 0;
    padding: $rythm-tick;
    color: $color-minor;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}

/* Notes
/*----------------------------------------------------------------------------*/

.notes {
  @extend %block;
  @extend %minor;

  img {
    display: none;
  }

  li {
    @extend %container;
  }

  .more_notes_link_container {
    margin-top: $rythm-tick;

    a {
      color: $color-minor;

      &:hover {
        color: $color-accent;
      }
    }
  }
}

/* Footer
/*----------------------------------------------------------------------------*/

.footer {
  @extend %block;
  padding-top: $rythm-tick;
  padding-bottom: $rythm-tick;

  p {
    @extend %container;
    opacity: .75;
  }
}
