html, body {
  min-height: 100%;
}

html {
  font-size: $size--base;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: rem(3px);
    background: $color--accent;
  }

  @include breakpoint(phablet) {
    font-size: rem($size--base * 0.975);
  }

  @include breakpoint(phone) {
    font-size: rem($size--base * 0.95);
  }
}

body {
  position: relative;
  color: $color--base;
  font-family: $font--sans;
  line-height: rem($tick);
  height: 100%;
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }
}

main {
  flex-grow: 1;
}

hr {
  display: none;
}

svg, img, iframe {
  max-width: 100%;
  vertical-align: top;
}

a {
  color: $color--minor;
  transition: trans(color);
  text-decoration: none;

  &:hover {
    color: $color--accent;
  }
}
