html {
  font-size: $size--base;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: rem(3px);
    background: $color--accent;
  }

  @include breakpoint(phablet) {
    font-size: rem($size--base * 0.975);
  }

  @include breakpoint(phone) {
    font-size: rem($size--base * 0.95);
  }
}

body {
  position: relative;
  color: $color--base;
  font-family: $font--sans;
  line-height: rem($tick--vertical);
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

hr {
  display: none;
}

svg, img, iframe {
  max-width: 100%;
  vertical-align: top;
}

a {
  position: relative;
  color: currentColor;
  text-decoration: none;
  transition: trans(color), trans(border-color);

  &::after {
    content: '';
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    bottom: -0.5em;
    left: -0.5em;
  }

  &:hover {
    color: $color--accent;
  }
}

%underlined-anchor {
  border-bottom: rem(1px) solid $color--faint;
  padding-bottom: rem($tick--vertical * 0.0625);
  margin-bottom: rem(-$tick--vertical * 0.0625);

  &:hover {
    border-color: $color--accent;
  }
}
