%container {
  display: block;
  max-width: $width--wrapper;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem($tick);
  padding-right: rem($tick);

  @include breakpoint(phablet) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

%container--generator {
  max-width: $width--generator;
}

%block {
  position: relative;
  padding-top: rem($tick * 2);
  padding-bottom: rem($tick * 2);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #eee;
  }

  @include breakpoint(phablet) {
    padding-top: rem($tick);
    padding-bottom: rem($tick);
  }
}

%text {
  blockquote > *,
  & > * {
    margin-top: rem($tick);
  }

  blockquote > :first-child,
  & > :first-child {
    margin-top: 0;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
  }

  cite a {
    color: $color--base;

    &:hover {
      color: $color--accent;
    }

    &::after {
      content: '→';
    }
  }

  li {
    padding-left: 7px;
    margin-left: -7px;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  del {
    text-decoration: line-through;
  }
}

%heading {
  font-family: $font--sans;
  color: $color--minor;
  font-size: rem($size--minor);
  text-transform: uppercase;
  font-weight: 400;
}

%minor {
  color: $color--minor;
  font-size: 0.83rem;

  a {
    color: $color--base;

    &:hover {
      color: $color--accent;
    }
  }

  @include breakpoint(phablet) {
    font-size: 0.72rem;
  }
}
