@mixin clearfix() {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin breakpoint($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@function rem($size--desired) {
    @return ($size--desired / $size--base) * 1rem;
}

@function trans($property, $duration: $duration--base, $easing: ease-in-out) {
    @return #{$property $duration $easing};
}
