$breakpoints: (
  'laptop'  : 'max-width: 1440px',
  'tablet'  : 'max-width: 1024px',
  'phablet' : 'max-width: 736px',
  'phone'   : 'max-width: 636px',
);

$tick : 30px;

$size--base  : 18px;
$size--minor : 15px;

$color--accent : #ffcd44;
$color--base   : #313130;
$color--minor  : #888887;
$color--faint  : #bbbbb4;

$font--serif : (Lora, Georgia, serif);
$font--sans  : ('Source Sans Pro', Arial, sans-serif);

$width--wrapper   : rem($tick * 20);
$width--generator : rem($tick * 35);
$width--left      : ($width--generator / 1.61803398875);
$width--right     : ($width--generator - $width--left) - rem($tick * 2);

