$breakpoints: (
  'laptop'  : '(max-width: 1439px)',
  'tablet'  : '(max-width: 1023px)',
  'phablet' : '(max-width: 735px)',
  'phone'   : '(max-width: 635px)',
  'mobile'  : '(max-width: 500px)',
);

$tick : 30px;

$size--base  : 18px;
$size--minor : 15px;

$color--accent     : #ffcd44;
$color--base       : #313130;
$color--minor      : #888887;
$color--faint      : #bbbbb4;
$color--border     : #F0F0F0;
$color--background : #e6e6e6;

$font--serif : ('Source Serif Pro', Georgia, serif);
$font--sans  : ('Source Sans Pro', Arial, sans-serif);
$font--mono  : (Inconsolata, monospace, sans-serif);

$width--margin    : 5%;
$width--wrapper   : rem($tick * 20);
$width--generator : rem($tick * 35);
$width--left      : ($width--generator / 1.61803398875);
$width--right     : ($width--generator - $width--left) - rem($tick * 2);

$duration--base    : 200ms;
$duration--ease    : 400ms;
$duration--overlay : 250ms;
