$breakpoints       : (
  'laptop'         : '(max-width: 1439px)',
  'tablet'         : '(max-width: 1023px)',
  'phablet'        : '(max-width: 735px)',
  'phone'          : '(max-width: 635px)',
  'mobile'         : '(max-width: 500px)',
);

$tick--vertical    : 30px;
$tick--horizontal  : 30px;

$size--base        : 18px;
$size--minor       : 15px;

$color--accent     : #ffcd44;
$color--base       : #313130;
$color--minor      : #888886;
$color--faint      : #bbbbb8;
$color--border     : #F0F0EB;
$color--background : #e6e6e4;

$font--serif       : ('Source Serif Pro', Georgia, serif);
$font--sans        : ('Source Sans Pro', Arial, sans-serif);
$font--mono        : (Inconsolata, monospace, sans-serif);

$width--margin     : $tick--horizontal / 2;
$width--wrapper    : $tick--horizontal * 20;
$width--generator  : $tick--horizontal * 35;
$width--left       : ($width--generator / 1.61803398875);
$width--right      : ($width--generator - $width--left) - ($tick--horizontal * 2);

$duration--base    : 200ms;
$duration--ease    : 400ms;
$duration--overlay : 250ms;
