.anchor {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: 0.65em;
        left: 0;
        border-bottom: 2rem solid currentcolor;
        opacity: 0.25;
    }

    @media (hover: hover) {
        transition: color var(--duration--base) ease-in-out;

        &:hover {
            color: var(--color--dark);
        }

        &::before {
            transition: opacity var(--duration--base) ease-in-out;
        }

        &:hover::before {
            opacity: 1;
        }
    }
}
