*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 1px;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        height: 3px;
        background: var(--color--accent);
    }
}

body {
    font-weight: 400;
    font-family: var(--font--sans);
    font-size: var(--size--base);
    line-height: var(--tick);
    color: var(--color--base);
    background: var(--color-background);
}

ul {
    list-style: none;
}

svg,
img {
    vertical-align: top;
    width: 100%;
}

a {
    display: inline-block;
    position: relative;
    color: currentcolor;
    text-decoration: none;

    &::after {
        content: '';
        position: absolute;
        inset: -0.5em;
    }
}
