.pagination {
    text-align: center;

    a {
        margin: calc(var(--tick) * -1) 0;
        padding: var(--tick);
        color: var(--color--minor);
    }

    @media (hover: hover) {
        a:hover {
            color: var(--color--accent);
        }
    }
}
