.post {
  display: flex;
  flex-direction: column;
  row-gap: var(--tick);
  position: relative;
  padding-top: calc(var(--tick) * 2);
  padding-bottom: calc(var(--tick) * 2);

  &:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1rem;
    background-color: var(--color--border);
  }

  @media (max-width: 635px) {
    padding-top: 0;
    padding-bottom: var(--tick);

    &::before {
      display: none;
    }
  }
}

.post__image {
  &::after {
    display: none;
  }

  span {
    position: relative;
    display: block;
    background: var(--color--border);
    padding-top: 100%;
  }

  img {
    position: absolute;
    inset: 0;
  }

  @media (max-width: 635px) {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.post__copy {
  font-family: var(--font--serif);

  small {
    color: var(--color--faint);
    font-size: 100%;
  }

  cite {
    font-family: var(--font--sans);
    color: var(--color--minor);
    font-size: var(--size--minor);
    text-transform: uppercase;
    font-weight: 400;
    display: block;
  }
}

.post__links {
  display: flex;
}

.post__link {
  width: var(--tick);
}
