<footer class="footer footer--create">
  <div class="footer__body">
    {# <form action="" method="post" class="footer__body__newsletter">
      <h3>Newsletter</h3>
      <p>Monthly digest with links to valuable content and ocassional news.</p>
      <fieldset>
        <input type="email" name="email" placeholder="Your email address">
        <button type="submit"><i class="fa fa-envelope"></i></button>
      </fieldset>
    </form> #}
    <ul class="footer__body__links">
      <li><a href="http://feeds.feedburner.com/ubermost" rel="external">RSS</a></li>
      <li><a href="http://facebook.com/ubermost" rel="external">Facebook</a></li>
      <li><a href="http://instagram.com/ubermost" rel="external">Instagram</a></li>
      <li><a href="mailto:hello@ubermost.com">hello@ubermost.com</a></li>
    </ul>
    <small class="footer__body__copy">Part of the <a href="http://ubermost.com">Ubermost</a>. Built by <a href="http://lamberski.com" rel="external">Maciej Lamberski</a>.</small>
  </div>
</footer>
