<header class="header">
    <div class="header__body">
        <a href="{{ site.link }}" class="header__body__logo">
            {% include 'partials/logo.twig' %}
            {% include 'partials/logo-create.twig' %}
        </a>
        <ul class="header__body__menu">
            <li>
                <a href="http://ubermost.com">Blog</a>
            </li>
            <li>
                <a href="http://facebook.com/ubermost" rel="external">
                    <i class="fa fa-facebook"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="http://instagram.com/ubermost" rel="external">
                    <i class="fa fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>
            {% set user = function('get_current_user_id') %}
            {% if function('is_super_admin', user) %}
                <li>
                    <a href="{{ function('admin_url') }}">WP Admin</a>
                </li>
            {% endif %}
        </ul>
        {% if not is404 %}
            <div class="header__body__info">
                <p>Create inspiring wallpaper from your favourite Ubermost lettering! You can download it as a wallpaper for your smartphone and PC, or if you&apos;re feeling social&mdash;post it on social network of choice to share the wisdom with your friends.</p>
            </div>
        {% endif %}
    </div>
</header>
